@import "./medias";
@font-face {
   font-family: "Muller";
   font-weight: 300;
   src: local("Muller")
      url(fonts/Muller/MullerLight.eot) format("eot"),
      url(fonts/Muller/MullerLight.ttf),
      url(fonts/Muller/MullerLight.woff) format("woff"),
      url(fonts/Muller/MullerLight.woff2) format("woff2")
   ;
}
@font-face {
   font-family: "Muller";
   font-weight: 400;
   src: local("Muller")
      url("fonts/Muller/MullerRegular.eot") format("eot"),
      url("fonts/Muller/MullerRegular.ttf") format("ttf"),
      url("fonts/Muller/MullerRegular.woff") format("woff"),
      url("fonts/Muller/MullerRegular.woff2") format("woff2")
   ;
}
@font-face {
   font-family: "Muller";
   font-weight: 500;
   src: local("Muller")
      url("fonts/Muller/MullerMedium.eot") format("eot"),
      url("fonts/Muller/MullerMedium.ttf") format("ttf"),
      url("fonts/Muller/MullerMedium.woff") format("woff"),
      url("fonts/Muller/MullerMedium.woff2") format("woff2")
   ;
}
@font-face {
   font-family: "Muller";
   font-weight: 700;
   src: local("Muller")
      url("fonts/Muller/MullerBoldItalic.eot") format("eot"),
      url("fonts/Muller/MullerBoldItalic.ttf") format("ttf"),
      url("fonts/Muller/MullerBoldItalic.woff") format("woff"),
      url("fonts/Muller/MullerBoldItalic.woff2") format("woff2")
   ;
}
@font-face {
   font-family: "Muller";
   font-weight: 700;
   font-style: italic;
   src: local("Muller")
      url("fonts/Muller/MullerBoldItalic.eot") format("eot"),
      url("fonts/Muller/MullerBoldItalic.ttf") format("ttf"),
      url("fonts/Muller/MullerBoldItalic.woff") format("woff"),
      url("fonts/Muller/MullerBoldItalic.woff2") format("woff2")
   ;
}

*{
   margin: 0;
   padding: 0;
   letter-spacing: calc(-0.01em * 4.5);
   font: 400 18px "Muller";
   color: #fff;
   text-decoration: none;
}
body{
   background: #0A0A09;
   overflow-x: hidden;
   width: 100vw;
}
.content{
   margin-inline: auto;
   padding-inline: 10px;
   box-sizing: border-box;
   width: 100%;
   overflow: hidden;
   @include t-u {
      padding-inline: 20px;
      max-width: 1215px;
   }
}
input{
   color: #000;
}
strong{
   font-size: inherit;
   font-weight: inherit;
}
.light{
   $light: #D4CC7B;
   color: $light;
   &_mob{
      @include mob {
         color: $light;
      }
   }
}

.yesMob{
   @include t-u {
      display: none;
   }
}
.noMob{
   @include mob {
      display: none;
   }
}
h2{
   text-align: center;
   font-size: clamp(32px, 3.3vw, 48px);
   font-style: italic;
   font-weight: 700;
}