@import "../../../style/medias.scss";

.header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 20px;
}
.logo{
   width: 90px;
   *{
      width: 100%;
   }
}

.menu{
   @include t-u {
      width: 85%;
      display: flex;
      justify-content: space-between;
   }
   @include mob {
      position: fixed;
      z-index: 999;
      right: -100vw;
      left: 100vw;
      top: 0;
      width: 100vw;
      height: 100vh;
      transition: 1s;
      background: #0A0A09;
      padding-top: 100px;
      *{
         font-weight: 500;
         
         display: block;
         width: fit-content;
         margin: 10px auto;
      }
      &.open{
         right: 0;
         left: 0;
      }
   }

   &__item{
      transition: 1s;
      @include t-u {
         color: rgba(255, 255, 255, 0.40);
      }

      @include hover {
         &:hover{
            color: #5CBDB3
         }
      }
   }
}
.openMenu{
   position: relative;
   z-index: 9999;
   @include t-u {
      display: none;
   }
}