@import "/src/style/medias";
.price{
   width: 100%;
   border-spacing: 0;
   border-collapse: collapse;

   &__td{
      border: 1px solid rgba(255, 255, 255, 0.4);
      padding: 10px;
      width: 50%;
      box-sizing: border-box;
   }
   &__title{
      margin-block: 24px;
      font-size: clamp(20px, 1.67vw, 24px);
      @include t-u {
         margin-block: 11.5%;
      }
   }
}